/* ESTILOS GERAIS */
*{
    padding: 0;
    margin: 0;
}

:root {
    --primary-color:   #f5f5f5; 
    --secondary-color: #335928; 
    --accent-color:    #678C2E; 
    --text-color:      #141414; 
}

body{
    background-color: var(--primary-color);
    font-family: "Roboto";
    color: var(--text-color);
    background-image: url(./images/fundo.png);
    background-size: 100%;
    background-position-y: 20px;
    background-repeat: no-repeat;
}

.container{
    width: 60%;
    margin-left: 15%;
    margin-top: 650px;
}
/* CALL TO ACTION */

.callToAction{
    background-color: var(--accent-color);
    padding: 10px;
    border-radius: 8px;
    border: var(--accent-color);
    color: var(--primary-color);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.callToAction:hover{
    transform: scale(1.1);
}

/* HEADER */
header{
    background-color: var(--secondary-color);
    width: 100%;
    height: 80px;
    color: var(--primary-color);
}

header h1{
    display: inline;
    position: absolute;
    top: 20px;
    left: 20px;
}

header nav{
    display: inline;
    position: absolute;
    left: 400px;
    top: 30px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: var(--primary-color);
    padding: 0px 15px;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

nav ul li a:hover {
    transform: scale(1.1); 
}

header button{
    display: inline;
    position: absolute;
    right: 20px;
    top: 20px;

}
/* HERO */

.text-hero{
    float: left;
    width: 45%;
    margin-top: 150px;
    margin-left: 50px;
    color: var(--primary-color);
}

main img {
    width: 600px;
    float: right;
    margin-top: 15px;
    margin-right: 100px;
}

.wave{
    position: absolute;
    width: 100%;
    left: 0px;
    top: -150px;

}

main h1{
    font-size: 50px;
    margin: 20px 0px 20px 0px;
}

main h4{
    font-weight: 400;
    margin: 0px 0px 20px 0px;
}
/* ABOUT ME */

#Sobre img{
    width: 300px;
    border-radius: 100%;
    float: left;
}

.text-about{
    float: right;
    width: 30%;
}

