/* ESTILOS GERAIS */
*{
    margin: 0;
    padding: 0;
}
link{
    border-radius: 100px;
}

body{
    background-color: #F0F0FA;
    color: #001531;
    font-family: "roboto";
}

/* HEADER */
header{
    background-color: #001531;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

nav ul li {
    display: inline-block;
    padding: 0 15px;
}

nav ul li a{
    text-decoration: none;
    color: #605f5f;
    transition: 0.2s;
}

nav ul li a:hover{
    color: #F0F0FA;
    transform: scale(1.05);
}

.main-titulo{
    color: #F0F0FA;
    font-size: 18px;
}

/* CORPO DO SITE */

.flex{
    display: flex;
    padding: 40px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#Sobre .flex img{
    border-radius: 100%;
    border: 10px solid #001531;
    margin: 30px;
}

.titulo{
    font-size: 50px;
}

.conteudo p{
    font-size: 20px;
}

#Curiosidades .flex{
    flex-direction: column;
}

#Educacao .flex{
    flex-direction: column;
}

#Campeões .flex{
    flex-direction: column;
}

#Causos .flex{
    flex-direction: column;
}

#Causos .flex p{
    text-align: justify;
}

#Habilidades .flex {
    flex-direction: column;
}

/* CARDS */
.card-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.card {
    border: 2px solid #001531;
    border-radius: 8px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    width: 18%;
    background-color: #001531;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}

.card img {
    width: 100%;
    height: auto;
}

.card-text p {
    font-size: 1em;
    color: #F0F0FA;
    padding: 15px;
}

.card:hover{
    transform: scale(1.05);
}

/* TABELA */
.titulo-tabela{
    margin: 90px;
}
.minha-tabela {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0; 
    font-family: Arial, sans-serif;
}

.minha-tabela th,.minha-tabela td { 
    padding: 10px; 
    text-align: left; 
    border: 2px solid #001531
}

.minha-tabela th {
    background-color: #001531; 
    color: #F0F0FA; 
}

.minha-tabela tr{
    background-color: #F0F0FA; 
}

/* footer */

footer{
    background-color: #001531;
    padding: 30px;
}

footer .titulo{
    color: #F0F0FA;
    margin: 0px 0px 20px 0px;
    font-size: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer .links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer .links a{
    text-decoration: none;
    color: #F0F0FA;
    padding: 40px;
}

footer .links a:hover{
    transform: scale(1.05);
}
